<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./head %>
        <script type="text/javascript" src="/skript.js"></script>
</head>

<body>
    <% include ./navbars/navbardetails %>

        <div class="container">
            <h2>user:
                <%= userdetails.firstName %>
                    <%= userdetails.surname %>
            </h2>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Surname</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Number of friends</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= userdetails.id %>
                        </td>
                        <td>
                            <%= userdetails.firstName %>
                        </td>
                        <td>
                            <%= userdetails.surname %>
                        </td>
                        <td>
                            <%= userdetails.age %>
                        </td>
                        <td>
                            <%= userdetails.gender %>
                        </td>
                        <td>
                            <%= userdetails.friends.length %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group btn-group-justified">
                <a id="btn1" onclick="loadDoc('friends', 'btn1');" class="btn btn-primary">Friends</a>
                <a id="btn2" onclick="loadDoc('friendsoffriends', 'btn2');" class="btn btn-primary">FriendsOfFriends</a>
                <a id="btn3" onclick="loadDoc('suggestedfriends', 'btn3');" class="btn btn-primary">SugesstedFriends</a>
            </div>
            <table id=tbl2 style="display:none" class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Surname</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Number of friends</th>
                </thead>
                <tbody id=tbo>
                </tbody>
            </table>
            <h4 id="nsfm" style="display:none">There is no suggested friends...</h4>
        </div>
</body>

</html>